.who-are-we-page {
    background-color: white;
    text-align: left;
    padding: 3em 0;
}

.content {
    margin-top: 3em;
    text-align: left;
}

.content-invert {
    margin-top: 3em;
    text-align: right;
}

.sermons-page {
    text-align: center;
    background-color: white;
    padding: 3em 0;
}





@media (max-width: 768px) {
    .content {
        text-align: center;
    }

    .content-invert {
        text-align: center;
    }
}